body {
    margin: 0;
    background-color: #dcfac8;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    height: 100%;
}

.logo {
    width: 70px;
    height: auto;
    margin-left: 20px; 
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.nav-bar {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

header {
    background-color: #2b3624;
    box-shadow: 0px 0px 10px black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 5.5%;
}

nav a {
    color: #dcfac8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}

nav a:hover::before {
    content: ""; 
    position: absolute;
    left: -15px; 
    top: -15px; 
    right: -15px; 
    bottom: -15px; 
    border: 2px solid #dcfac8; 
    border-radius: 5px; 
}

a:hover {
    color: orange;
}


h1 {
    font-family: "Merriweather", serif;
    color: #2b3624;
    display: block;
    font-size: 70px;
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    text-shadow: 2px 2px 5px grey;
}


#AboutUsPic > img {
    display: block;
    width: 1000px;
    border: 10px solid #2b3624;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

#AboutUsPic > p {
    text-align: center;
    color: grey;
}


#AboutUsDescription {
    margin: 100px 100px;
}

#AboutUsDescription > p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 75px;
    padding-left: 15%;
    padding-right: 15%;
}

#EnergyPageIntro {
    color: #2b3624;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    max-inline-size: 1700px;
}

#EnergyPageMain{
    background-color: #2b3624;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 20px black;
}

#EnergyPageMain > h2 {
    font-family: "Merriweather", serif;
    color: #dcfac8;
    font-size: 30px;
    margin-top: 50px;
    text-decoration: underline;
    text-align: center;
}

#EnergyPageMain > p {
    color: #dcfac8;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-inline-size: 1200px;
}

.EnergyPageExample {
    font-size: 10px;
    margin-top: 40px;
    font-style: italic;

}

#EnergyPageMain > div {
    display: flex;
    justify-content: center;
}

#EnergyPageMain > div > img {
    width: 300px;

    margin-left: 20px;
    margin-right: 20px;
}

footer {
    background-color: #2b3624;
    color: #dcfac8;
    padding-top: 10px;
    position: relative;
    height: 100px;
    margin-top: 100px;
    text-align: center;
    box-shadow: 2px 2px 20px black;
}



