body {
    background-color: #2b3624;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    height: 100%;
}

.logo {
    width: 70px;
    height: auto;
    margin-left: 20px;
    padding-top: 2px;
    padding-bottom: 5px;
    float: left;
}

.nav-bar {
    width: 95%;
    height: auto;
    margin: auto;
}

header {
    background-color: #2b3624;
    box-shadow: 0px 0px 10px black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-top: 5px;
    display: inline-block;
    margin-left: 60px;
    padding-top: 5.5%;
}

nav a {
    font-family: "Merriweather Sans", sans-serif;
    color: #dcfac8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}

nav a:hover::before {
    content: ""; 
    position: absolute;
    left: -15px; 
    top: -15px; 
    right: -15px; 
    bottom: -15px; 
    border: 2px solid #dcfac8; 
    border-radius: 5px; 
}


.title {
    font-family: "Merriweather", serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: flyUp 1s ease-out forwards;
    opacity: 0; 
    color: #dcfac8;
    text-shadow: 0px 0px 20px #2b3624;
}

.back-video {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


h1 {
    font-size: 70px;
    padding-top: 16.5%;
    
    font-weight: bold;
}

h3 {
    padding-top: 5%;
    font-size: 50px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
}

h4 {
    display: inline-block;
    border: 2px solid #2b3624;
    padding: 10px 15px;
    border-radius: 50px;
    margin-top: 20px;
}

@keyframes flyUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}



#section_1_title {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 425px;
    font-family: "Merriweather", serif;
    color: #dcfac8;
    padding-bottom: 40px;
    text-shadow: 4px 4px 2px black;
}

#section_2_title {
    margin-top: -5%;
}

section {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #dcfac8;
    box-shadow: 0px 0px 20px black;
}

.section_1_part { /* Different Sections for type of power*/

    width: 800px;
    margin: 0px 50px 0px 50px;
}

.section_1_part > h2 {
    font-family: "Merriweather", serif;
    color: #2b3624;
    font-size: 50px;
}

.section_1_part > p {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: orange;
}

a:visited {
    text-decoration: black;
}

#section_2_button {
    display: inline-block;
    color: #dcfac8;
    border: 5px solid #dcfac8;
    padding: 10px 25px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 25px;
    align-items: center;
}

#section_2_button:hover {
    color: orange;
}

.section_2_description {
    text-align: center;
    display: inline-block;
    overflow-wrap: break-word;
    inline-size: 1000px;
    font-size: 25px;
    padding-bottom: 2vh;
}



@media (min-width: 800px){
    section{
        flex-direction: row;
    }
}


#unsustainable {
    color: #dcfac8;
    text-align: center;
    margin: 0px 200px 50px 200px;
}

#unsustainable > h1 {
    font-family: "Merriweather", serif;
    font-size: 60px;
    text-decoration: underline;
    margin-top: 0px;
    padding-top: 10%;
    padding-bottom: 2%;
    text-shadow: 4px 4px 2px black;
}

#unsustainable > p {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 20px;
}

#good_company {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#good_company > h1 {
    font-family: "Merriweather", serif;
    text-align: center;
    font-size: 50px;
    padding: 0px;
    padding-bottom: 0px;
    text-shadow: 0px 0px 60px black;
}

#good_company > p {
    font-family: "Merriweather Sans", sans-serif;
    text-align: center;
    margin-top: -200px;
    font-size: 20px;
    margin: 0px 200px;
    margin-bottom: 200px;
}


.advertisment {
    text-align: center;
    font-size: 30px;
    inline-size: 1000px;
    overflow-wrap: break-word;
    margin-top: -400px; 
    margin-left: 30%;
}

footer {
    background-color: #2b3624;
    color: #dcfac8;
    padding-top: 10px;
    position: relative;
    height: 100px;
    margin-top: 200px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
  }

.image-container img {
    max-width: 200px;
    height: auto;
    margin: 10vh;
    margin-top: -10vh;
    animation: floatUp 2s ease-out;
}

@keyframes floatUp {
    from {
      transform: translateY(100px); /* Initial position */
      opacity: 0; /* Initial opacity */
    }
    to {
      transform: translateY(0); /* Final position */
      opacity: 1; /* Final opacity */
    }
}

