body {
    margin: 0;
    background-color: #dcfac8;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    height: 100%;
}

.logo {
    width: 70px;
    height: auto;
    margin-left: 20px; 
    padding-top: 2px;
    padding-bottom: 5px;
    float: left;
}

.nav-bar {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

header {
    background-color: #2b3624;
    box-shadow: 0px 0px 10px black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-top: 5px;
    display: inline-block;
    margin-left: 60px;
    padding-top: 5.5%;
}

nav a {
    color: #dcfac8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}

nav a:hover::before {
    content: ""; 
    position: absolute;
    left: -15px; 
    top: -15px; 
    right: -15px; 
    bottom: -15px; 
    border: 2px solid #dcfac8; 
    border-radius: 5px; 
}

a:hover {
    color: orange;
}

h1 {
    font-size: 70px;
    padding-top: 16.5%;
    
    font-weight: bold;
}

h3 {
    padding-top: 5%;
    font-size: 50px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
}

h4 {
    display: inline-block;
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 50px;
    margin-top: 20px;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}



.electricVehiclePage {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.EV-Picture {
    max-width: 100%;
    width: 90vh;
    margin-left: 14vh;
    margin-top: 15vh;
    border-radius: 20px;
    animation: floatUp 2s ease-out;
}

.Title {
    font-family: "Merriweather", serif;
    color: #2b3624;
    text-shadow: 2px 2px 5px grey;
    margin-left: 10vh;
    margin-top: -10vh;
    animation: floatUp 2s ease-out;
}

@keyframes floatUp {
    from {
        transform: translateY(100px); /* Initial position */
        opacity: 0; /* Initial opacity */
    }
    to {
        transform: translateY(0); /* Final position */
        opacity: 1; /* Final opacity */
    }
}

.explaination {
    text-align: center;
    flex-direction: column;
    margin-top: -10vh;
}

.explaination > h1 {
    font-family: "Merriweather", serif;
    color:#2b3624;
}

.explaination > p {
    text-align: center;
    overflow-wrap: wrap;
    inline-size: 1000px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 25px;
}

.comparison-container {
    display: flex;
    max-width: 1000px;
    margin: 32px auto;
    box-shadow: 0px 0px 20px #2b3624;
    border-radius: 10px;
    margin-bottom: 10vh;
}

.compare-title {
    font-family: "Merriweather", serif;
    color: #2b3624;
    text-align: center;
    margin-top: -15vh;
    margin-bottom: 10vh;
}


.comparison-container, .pros-container, .cons-container {
    background-color: white;
    flex: 1;
}

.comparison-container ul{
    padding: 8px 0;
    list-style: none;
    margin: 0;
}

.comparison-container ul li{
    padding: 16px 32px;
    font-size: 20px;
    line-height: 2;
}



.pro-title, .cons-title {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 16px 24px;
}

.pro-title {
    font-family: "Merriweather", serif;
    text-decoration: underline;
    background-color: lightgreen;
}

.cons-title {
    font-family: "Merriweather", serif;
    text-decoration: underline;
    background-color: orangered;
}
.solarImg{
    max-width: 100%;
    width: 90vh;
    margin-left: 14vh;
    margin-top: 15vh;
    border-radius: 20px;
    animation: floatUp 2s ease-out;
}
.solarTopPage{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.otherCompanies {
    background-color: white;
    box-shadow: 0px 0px 20px #2b3624;
}

.companyList > li > a > img{
    display: block;
    padding: 15px;
    width: 180px;
    height: auto;
    margin: 20px;
}
.companyList > li{
    display: inline-block;
    align-content: center;
}
.companyList{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    background-color: #2b3624;
    color: #dcfac8;
    padding-top: 10px;
    position: relative;
    height: 100px;
    margin-top: 200px;
    text-align: center;
    box-shadow: 2px 2px 20px black;
}

